$font-stack: sans-serif;

$color-primary: #27275F;
$color-accent: #60608F;
$color-background: #FFF;
$color-background-shade: #CDCDE2;
$color-text: darken(#6b717f, 15);
$color-text-link: #678f8f;
$color-text-link-hover: #becfcf;